name: PyTorch Transformer Notes
baseurl: "/pytorch-transformer-notes"
url: "https://raywang66.github.io"
permalink: /:title

markdown: kramdown
highlighter: rouge

plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag

